

:root {
    /*variaveis global*/
    --primary-color: #228B22;
    --white-color: #fff;
    --gap: 3rem;            /*espaçamento entre cada elemento e não no container */

    /*exemplo de aplciaçao
    color: var(--primary-color)*/
}


* {                         /*seletor geral*/    
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;  
/* define uma espécie de “unidade base” que equivale a aproximadamente 10px. Possibilita trabalhar com números inteiros. Por exemplo:
    font-size: 1em;seria equivalente a 10px
    font-size: 1.5em; seria equivalente a 15px
    font-size: 2rem; seria equivalente a 20px 
*/
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;       /*Realça palavras de um texto*/
    font-size: 2rem;      /*tamanho da fonte*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.main-bg {
    /*classe para background*/
    background-image: url('../img/sun-tornado.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);      /*uso da variavel global*/
}

.white-bg {
    /*para fundo branco*/  
    background: var(--white-color);
}

.main-content {
    /*sustenta o conteudo*/
max-width: 1200px;
margin: 0 auto;
padding: var(--gap);        /*espaçamento*/
}

.section {
    min-height: 100vh;
}