

:root {
    /*variaveis global*/
    --primary-color: #228B22;
    --white-color: #fff;
    --gap: 3rem;            /*espaçamento entre cada elemento e não no container */
    --gray-color: #D3D3D3;
}


* {                         /*seletor geral*/    
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;  
/* define uma espécie de “unidade base” que equivale a aproximadamente 10px. Possibilita trabalhar com números inteiros. Por exemplo:
    font-size: 1em;seria equivalente a 10px
    font-size: 1.5em; seria equivalente a 15px
    font-size: 2rem; seria equivalente a 20px 
*/
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;       /*Realça palavras de um texto*/
    font-size: 2rem;      /*tamanho da fonte*/
    color: var(--primary-color)
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.main-bg {
    /*classe para background*/
    background-image: url('../img/sun-tornado.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);      /*uso da variavel global*/
}

.white-bg {
    /*para fundo branco*/  
    background: var(--white-color);
}

.main-content {
    /*sustenta o conteudo*/
max-width: 1200px;
margin: 0 auto;
padding: var(--gap);        /*espaçamento*/
}

.section {
    min-height: 100vh;
}


.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;    
    border-bottom: 1px solid var(--gray-color);
}

.menu h1 {
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--primary-color)
}

.menu h1 a{
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;    
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;     /*Posiciona com base no elemento ao qual está inserido dentro*/
}

.menu ul li a::after {
content: '';
position: absolute;     /*Posiciona elementos com base em um elemento referência*/
bottom: 1rem;
left: 50%;
width: 0;
height: 0.2rem;
background-color: #228B22;
transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left:25%;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

